---
layout: archive
title: "Publications & Presentations"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% assign items_by_type = site.publications | group_by: "type" %}

{% assign type_order = "Paper|Patent|Posters & Presentations|Thesis" | split: "|" %}

{% for type_name in type_order %}
  {% for type_group in items_by_type %}
    {% if type_group.name == type_name %}

      {% if type_name == "Paper" %}
        <h2 id="papers">Papers</h2>
      {% elsif type_name == "Patent" %}
        <h2 id="patents">Patents</h2>
      {% elsif type_name == "Posters & Presentations" %}
        <h2 id="posters">Posters & Presentations</h2>
      {% elsif type_name == "Thesis" %}
        <h2 id="thesis">Thesis</h2>
      {% endif %}

      {% assign items_sorted_by_date = type_group.items | sort: "date" | reverse %}

      {% for post in items_sorted_by_date %}
        {% include archive-single.html %}
      {% endfor %}

    {% endif %}
  {% endfor %}
{% endfor %}